body {
    background-color: rgb(236, 240, 241);
}

header nav.navbar {
    border-radius: 0 !important;
}

header .navbar .navbar-nav {
    display: inline-block;
    float: none;
}

header .navbar .navbar-collapse {
    text-align: center;
}

section nav {
    padding-top: 30px;
}

section nav .navbar-brand {
    padding: 0;
}

section nav .search-input {
    padding-top: 10px;
}

section nav .search-btn {
    text-align: right;
    padding-top: 10px;
}