* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    right: 0;
}

body {
    background-color: rgb(236, 240, 241);
}

header {
    background: #2c3e50;
}

header ul {
    list-style-type: none;
    
    white-space: nowrap;
    font-size: 1.5rem;
    
    margin: auto;
}

header ul li {
    color: white;
    
    text-align: center;
    line-height: 100%;
    
    display: inline-block;
    height: 40px;
   
    padding: 0.5rem 5rem;
}

header ul li.active {
    background-color: #ffab64;
}

header ul li:hover {
    background-color: rgba(158, 163, 204, 0.49);
    cursor: pointer;
}

.container {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.search-box {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem;
}

.search-box > * {
    display: inline-block;
}

.search-box .search-brand {
    width: 15%;
    color: #0000ff;
    cursor: pointer;
}

.search-box .search-brand:hover {
    color: cyan;
}

.search-box .search-btn {
    width: 10%;
    
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-box .search-btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    
    text-decoration: none;
}

.search-box .search-input {
    width: 70%;
        
    padding-left: 0.5rem;
    
    height: 2.1rem;    
    font-size: 1.5rem; 
    line-height: 90%;
    
    color: #555;
    background-color: #fff;
    background-image: none;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-box .search-input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.intro p {
    text-align: left;
    
    padding: 2rem;
    font-size: 1.5rem;
}